#displaydice{
  font-size: 10em;
  padding: 0;
  margin: 0;
  height: 163px;
}

#main{

    text-align: center;
}

.instructions{
  text-align: float right;
  padding-top: 10em;
}

body {

background-image: url(../image/3.jpg);
}
h3 {
  background-color: yellow;
  text-align: left;

}
h2 {
  background-color: green;
  text-align: left;

}
h1 {
  text-align: center;
  text-indent: inherit;
  background-color: pink;
  background-repeat: repeat;
  background-size: cover;

h1 {

body background-image: url(../image/download(1).jpg);
}
